@font-face {
    font-family: "HackLogo";
    src: url("fonts/TYPOGRAPH PRO Extra Bold.ttf");
}

@font-face {
    font-family: "HackLogoSemi";
    src: url("fonts/TYPOGRAPH PRO Semi Bold.ttf");
}

@font-face {
    font-family: "ethno";
    src: url("fonts/ethnocentric rg.ttf");
}

@font-face {
    font-family: "HelveticaBold";
    src: url("fonts/Helvetica CE Bold.otf");
}

@font-face {
    font-family: "HelveticaMedium";
    src: url("fonts/Helvetica CE Medium.otf");
}

