#student-hub-nav {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#student-hub-nav a {
    text-decoration: none;
    color: inherit; 
}


