{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Image with Clip Mask</title>
    <style>
      

        body {
            background-color: black;
            padding: 100px;
            font-family: Helvetica, sans-serif;
        }
    </style>

</head>

<body>
    <div>
        {% include 'landing/cases.html' %}

    </div>
    <div>
        {% include 'landing/prizes.html' %}

    </div>
    <div>
        {% include 'landing/faq.html' %}

    </div>
    <div>
        {% include 'landing/timeline.html' %}

    </div>



 


</body>

</html>