<style>
    * {
        padding: 0;
        margin: 0;
    }

 
    #main-section {
        background: url("https://firebasestorage.googleapis.com/v0/b/realtimedatabasetest-f226a.appspot.com/o/Website_resources%2FMain_bg5.jpg?alt=media") rgba(0, 0, 0, .6);
        background-size: cover;
        background-blend-mode: multiply;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }


    #main-section h1 {
        color: white;
        font-size: 30px;
    }
</style>

<section id="main-section">
    <h1>
        Welcome to The Participants Hub
    </h1>
</section>

