<style>
    .scroll-image {
        width: 80px;
    }

    @media (max-width: 600px) {
        #back-to-up {
            margin: 0;
            margin-right: -20px;
        }

        .scroll-image {
            width: 65px;
        }

        .scroll-image:hover {
            cursor: pointer;
        }
    }
</style>
<button class="btn btn-sm btn-primary rounded-circle position-fixed bottom-0 end-0 translate-middle d-none"
    onclick="scrollToTop()" id="back-to-up" style=" background-color: transparent; border: none; z-index: 2;">
    <img src="https://firebasestorage.googleapis.com/v0/b/realtimedatabasetest-f226a.appspot.com/o/Website_resources%2Fgo_up1.png?alt=media"
        class="scroll-image">
</button>



<script>
    window.onscroll = () => {
        toggleTopButton();
    }
    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }

    function toggleTopButton() {
        if (document.body.scrollTop > 500 ||
            document.documentElement.scrollTop > 500) {
            document.getElementById('back-to-up').classList.remove('d-none');
        } else {
            document.getElementById('back-to-up').classList.add('d-none');
        }
    }
</script>