{% load static %}
<link rel="apple-touch-icon" type="image/png"
    href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />

<meta name="apple-mobile-web-app-title" content="CodePen">

<link rel="shortcut icon" type="image/x-icon"
    href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />

<link rel="mask-icon" type="image/x-icon"
    href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-b4b4269c16397ad2f0f7a01bcdf513a1994f4c94b8af2f191c09eb0d601762b1.svg"
    color="#111" />




<script
    src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>


<title>CodePen - Expandable Animated Card Slider</title>

<link rel="canonical" href="https://codepen.io/yudizsolutions/pen/wvzrPoj">


<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css'>

<style>
    /******* Fonts Import Start **********/
    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
    /********* Fonts Face CSS End **********/

    /******* Common Element CSS Start ******/


    .clear {
        clear: both;
    }

    .sponsors-img {
        max-width: 100%;
        border: 0px;
    }




    .sponsors-h3 {
        margin: 0 0 10px;
        font-size: 28px;
        line-height: 36px;
    }

    button {
        outline: none !important;
    }

    /******* Common Element CSS End *********/

    /* -------- title style ------- */
    .line-title {
        position: relative;
        width: 400px;
    }

    .line-title::before,
    .line-title::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        border-radius: 2px;
    }

    .line-title::before {
        width: 100%;
        background: #f2f2f2;
    }

    .line-title::after {
        width: 32px;
        background: #e73700;
    }

    /******* Middle section CSS Start ******/
    /* -------- Landing page ------- */
    .game-section {
        padding: 60px 50px;
    }

    .game-section .owl-stage {
        margin: 15px 0;
        display: flex;

    }

    .game-section .item {
        margin: 0 15px 60px;
        width: 320px;
        height: 400px;
        display: flex;
        display: -webkit-flex;
        align-items: flex-end;
        -webkit-align-items: flex-end;
        background: #343434 no-repeat center center / cover;
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        cursor: pointer;
    }

    .game-section .item.active {
        width: 500px;
        box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    }

    .game-section .item:after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }

    .game-section .item-desc {
        padding: 0 24px 12px;
        color: #fff;
        position: relative;
        z-index: 1;
        overflow: hidden;
        transform: translateY(calc(100% - 54px));
        -webkit-transform: translateY(calc(100% - 54px));
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
    }

    .game-section .item.active .item-desc {
        transform: none;
        -webkit-transform: none;
    }

    .game-section .item-desc p {
        opacity: 0;
        -webkit-transform: translateY(32px);
        transform: translateY(32px);
        transition: all 0.4s ease-in-out 0.2s;
        -webkit-transition: all 0.4s ease-in-out 0.2s;
    }

    .game-section .item.active .item-desc p {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .game-section .owl-theme.custom-carousel .owl-dots {
        margin-top: -20px;
        position: relative;
        z-index: 5;
    }

    /******** Middle section CSS End *******/

    /***** responsive css Start ******/

    @media (min-width: 992px) and (max-width: 1199px) {


        .sponsors-h3 {
            margin: 0 0 8px;
            font-size: 24px;
            line-height: 32px;
        }

        /* -------- Landing page ------- */
        .game-section {
            padding: 50px 30px;
        }

        .game-section .item {
            margin: 0 12px 60px;
            width: 260px;
            height: 360px;
        }

        .game-section .item.active {
            width: 400px;
        }

        .game-section .item-desc {
            transform: translateY(calc(100% - 46px));
            -webkit-transform: translateY(calc(100% - 46px));
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {

        .sponsors-h3 {
            margin: 0 0 8px;
            font-size: 24px;
            line-height: 32px;
        }

        .line-title {
            width: 330px;
        }

        /* -------- Landing page ------- */
        .game-section {
            padding: 50px 30px 40px;
        }

        .game-section .item {
            margin: 0 12px 60px;
            width: 240px;
            height: 330px;
        }

        .game-section .item.active {
            width: 360px;
        }

        .game-section .item-desc {
            transform: translateY(calc(100% - 42px));
            -webkit-transform: translateY(calc(100% - 42px));
        }
    }

    @media (max-width: 767px) {
        .sponsors-h3 {
            margin: 0 0 8px;
            font-size: 19px;
            line-height: 24px;
        }

        .line-title {
            width: 250px;
        }

        /* -------- Landing page ------- */
        .game-section {
            padding: 30px 15px 20px;
        }

        .game-section .item {
            margin: 0 10px 40px;
            width: 200px;
            height: 280px;
        }

        .game-section .item.active {
            width: 270px;
            box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
        }

        .game-section .item-desc {
            padding: 0 14px 5px;
            transform: translateY(calc(100% - 42px));
            -webkit-transform: translateY(calc(100% - 42px));
        }
    }

    .prizes-section-title {

        font-family: Helvetica;
        font-size: clamp(35px, 3vw, 8vw);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(90deg, #EB06C7 0.04%, #02E5E5 95.27%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .title-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #sponsors {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* gap: 40px;   */
    }
</style>

<script>
    window.console = window.console || function (t) { };
</script>



<section id="sponsors" style="overflow-x: hidden;">
    <div class="title-container">
        <h2 class="prizes-section-title">sponsors</h2>

    </div>
    <div style="display: flex; justify-content: center;">
        <section class="game-section" style="width: 120%;">

            <div class="owl-carousel custom-carousel owl-theme">
                <div class="item"
                    style="background-image: url(https://icdlasia.org/app/uploads/2020/05/UNITEN-1024x575.png);">
                    <div class="item-desc">
                        <h3 class="sponsors-h3">UNITEN</h3>
                        <p>
                            Universiti Tenaga Nasional (UNITEN) is a prominent Malaysian institution with campuses in
                            Putrajaya and Pahang, offering programs in Engineering and Computer Science. It is known for
                            academic excellence, high employability rates, and extensive campus facilities.
                        </p>
                    </div>
                </div>
                <div class="item"
                    style="background-image: url(https://web14.bernama.com/storage/photos/5f6ca68cf7d1c2544f85a7281c906c415eecca837962a);">
                    <div class="item-desc">
                        <h3 class="sponsors-h3">Cyberview</h3>
                        <p>Cyberview Sdn Bhd, a government-owned company, is tasked with developing Cyberjaya into a
                            Global Tech Hub, fostering technology innovation and business expansion. They focus on Smart
                            City and Living Lab initiatives to enhance urban living, sustainability, and serve as a
                            testing ground for new technologies, promoting collaboration within the tech community.
                        </p>
                    </div>
                </div>
                <div class="item"
                    style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Xsolla_New_Logo.svg/1200px-Xsolla_New_Logo.svg.png);">
                    <div class="item-desc">
                        <h3 class="sponsors-h3">Xsolla</h3>
                        <p>solla is a global video game commerce company headquartered in Sherman Oaks, Los Angeles,
                            California. It was founded in 2005 by Aleksandr Agapitov, and is incorporated as a
                            California Corporation with subsidiaries globally.
                        </p>
                    </div>
                </div>
               

                <div class="item" style="background-image: url('{% static 'img/ycu.jpg' %}')">
                    <div class="item-desc">
                        <h3 class="sponsors-h3">YCU</h3>
                        <p> Yayasan Canselor Universiti Tenaga Nasional (YCU) was established on 2 June 2009 by
                            Universiti Tenaga Nasional (UNITEN) to receive and administer funds for the purpose of
                            promoting education or any charitable purposes. In fulfilling this main agenda, building
                            endowment fund through various short and long-term fund-raising initiatives will be part of
                            YCU’s continuous effort.

                        </p>
                    </div>
                </div>









            </div>

        </section>
    </div>

</section>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
<script id="rendered-js">
    $(".custom-carousel").owlCarousel({
        autoWidth: true,
        loop: true,
        center: true,
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: true,
        autoplaySpeed: 2000,
        dots: false,
        lazyLoad: false,
    });

    $(document).ready(function () {

        $(".custom-carousel .item").click(function () {
            $(".custom-carousel .item").not($(this)).removeClass("active");
            $(this).toggleClass("active");
        });
    });
    //# sourceURL=pen.js
</script>