
<style>
    #main-section {

        background-size: cover;

        /* Set the background to be fixed in place (optional) */
        background-attachment: fixed;

        /* Add some padding and other styling as needed */
        padding: 0;
        margin: 0;
        /* Center the background image horizontally */
        background-position: center;
        /* Make sure the container is positioned */
        position: relative;
        /* Create a black overlay using a pseudo-element */
        overflow: hidden;
        z-index: 9994;
    }


    #main-section::before {
        content: "";
        /* Empty content for the pseudo-element */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .main-section-content {

        padding: 280px 29vw 30vw 29vw;
        /* Adjust the values as needed */
        position: relative;
        z-index: 100;
        /* Set a higher z-index to place it on top */
        -webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }



    .main-logo {
        letter-spacing: 15px;
    }

    .main-section-content h2 {
        /* font-size: 5.9vw;
        margin-bottom: 30px;
        font-family: "HackLogo"; */
    }

    .main-section-content p {
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 30px;
        margin-left: 30px;
        line-height: 30px;
        font-size: 14px;
        letter-spacing: 1px;
        text-align: center;

    }

    .main-section-content span {
        color: var(--main-blue);
    }


    .main-buttons {
        margin-left: 30px;
        /* display: flex; */
        /* Use flexbox */
        /* align-items: center; */
        text-align: center;

        /* Align items vertically */
    }

    .main-buttons a {
        text-decoration: none;
        /* Remove underline */
        color: inherit;
        /* Inherit text color from parent (black by default) */
    }

    .main-btn {
        padding: 0px 40px;
        height: 50px;
        border-radius: 30px;
        border: none;
    }

    .main-white-btn {
        color: black;
        background-color: white;
        font-weight: 700;
        font-size: 15px;
        margin-left: 5px;
    }

    .main-white-btn:hover {
        cursor: pointer;
        outline: 2px solid white;
        color: white;
        background-color: black;
    }

    .main-outline-btn {
        color: white;
        background-color: transparent;
        font-weight: 700;
        font-size: 15px;
        outline: 2px solid white;
        margin-right: 5px;

    }

    .main-outline-btn:hover {
        cursor: pointer;
        color: black;
        background-color: white;
        outline: none;

    }


    #main-planet {
        position: absolute;
        top: 5vw;
        /* Adjust the top position as needed */
        right: -50px;
        height: auto;
        width: 750px;
        /* Adjust the width as needed (half of the original width) */
        z-index: 0;
        /* Ensure the image is below the overlay */
        -webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        /* Add drop shadow */
        box-shadow: 10px 4px 6px rgba(0, 0, 0, 0.6);
    }


    #video {
        width: 100%;
    }

    .video-container {
        position: relative;

    }

    .text-overlay {
        position: absolute;
        top: 0%;
        left: 0%;
        /* transform: translate(-50%, -50%); */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Making the section responsive */
    @media (max-width: 1220px) {


        .main-buttons {
            margin-left: auto;
            /* Center the buttons horizontally */
            margin-right: auto;
            justify-content: center;
            /* Center the items horizontally in flexbox */
        }

        .main-white-btn {
            margin-left: 60px;
        }

        .main-section-content p {
            margin-left: 0;
            display: none;
        }

        /* .main-section-content {
            text-align: center;
            padding-top: 200px;
        } */

        .main-section-content h2 {
            /* font-size: 40vw; */
            /* margin-bottom: 100px; */
            /* font-family: "HackLogo"; */
        }


        .main-buttons {
            text-align: center;
        }

        #main-planet {

            display: none;
        }



        .main-outline-btn {
            color: black;
            background-color: white;
            outline: none;
            font-weight: 700;
            font-size: 15px;
            margin-left: 5px;
        }

        .main-outline-btn:hover {
            cursor: pointer;
            outline: 2px solid white;
            color: white;
            background-color: black;

        }

    }

    @-webkit-keyframes slide-in-bottom {
        0% {
            -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slide-in-bottom {
        0% {
            -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
    }


    @-webkit-keyframes slide-in-top {
        0% {
            -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slide-in-top {
        0% {
            -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
    }






    #glitch-wrapper {}

    #glitch {
        /* color: linear-gradient(90deg, rgb(244, 244, 244), rgb(255, 105, 180)); */
        color: white;
        font-size: clamp(70px, 7.7vw, 10vw);
        text-transform: upercase;
        position: relative;
        /* display: flex; */

        font-family: "HackLogo";

    }


















    @media (max-width: 600px) {


        /* #glitch {

            font-size: 7.7vw;
       

        } */


        #video {
            /* margin-top: -40px; */
            margin-left: -450px;
            height: 100vw;
            width: 350vw;
        }

        .main-buttons {
            justify-content: center;
            border-radius: 10px;
            max-width: 400px;
        }


        .main-white-btn {
            margin-left: 10px;
        }

        .main-section-content {
            /* padding: 170px 29vw 0 15.1vw; */
            /* text-align: center; */

        }

        /* .main-section-content h2 {
            font-size: 10vw;
            margin-bottom: 100px;
            font-family: "HackLogo";
        }
*/



        .main-outline-btn {
            color: black;
            background-color: white;
            outline: none;
            font-weight: 700;
            font-size: 12px;
            width: 150px;
            /* max-width: 21px; */
            /* padding-left: clamp(10px, 10%, 15%); */

            margin-left: 0;

        }

        .main-white-btn {
            width: 150px;

            font-size: 12px;

        }

        .main-outline-btn:hover {
            cursor: pointer;
            outline: 2px solid white;
            color: white;
            background-color: black;

        }

    }
</style>

<style>
    .wrapper {
        text-align: center;
        position: relative;
        margin-top: -100px;
        -webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .wrapper:hover {}


    button.scroll_down {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        height: 50px;
        width: 30px;
        bottom: 60px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 20px;
        cursor: pointer;
        outline: none;
        z-index: 100000000000;
    }

    button.scroll_down:before {
        position: absolute;
        top: 10px;
        left: 50%;
        content: "";
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: #fff;
        border-radius: 100%;
        -webkit-animation: scroll_down_btn-animation 2s infinite;
        animation: scroll_down_btn-animation 2s infinite;
        box-sizing: border-box;
    }

    @keyframes scroll_down_btn-animation {
        0% {
            transform: translate(0, 0);
            opacity: 0;
        }

        40% {
            opacity: 1;
        }

        80% {
            transform: translate(0, 20px);
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }

    @-webkit-keyframes scroll_down_btn-animation {
        0% {
            transform: translate(0, 0);
            opacity: 0;
        }

        40% {
            opacity: 1;
        }

        80% {
            transform: translate(0, 20px);
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }


    .block {
        height: 2000px;
    }
</style>

<section class="mouse-hover " id="main-section">





    <div class="video-container">
        <!-- class="main-section-bg" -->

        <!-- <img src="{% static 'img\\cases_bg.webp' %}" class="main-section-bg "/> -->

        <video autoplay muted loop playsinline id="video" preload="none">

        </video>



        <div>
            <!-- <div class="wrapper">
            <button type="button" class="scroll_down" id="scroll_down"></button>
        </div> -->
            <div class="main-section-content text-overlay">
                <div id="glitch-wrapper">
                    <div id="glitch" data-text="Hack@10">Hack@10</div>
                </div>


            </div>


        </div>
    </div>

</section>
