@media (max-width: 1400px) {

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 98vh;
    }

    .navbar-inner {

        /* padding: 4   0px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        /* margin-left: -20px; */
        padding: 0;
        margin-left: 0px;
        /* padding-left: 5px; */
        /* justify-content: center; */
        /* justify-content: center; */
        /* align-items: center; */
        width: 80px;

    }

    .navbar-inner-item {
        padding: 0;
        margin: 0;
        display: block;
        /* flex-direction: column; */
        align-items: center;
        /* justify-content: center; */
        /* gap: 100px; */
        user-select: none;
        padding: 5px 5px;

    }

    .navbar-inner-item:hover {
        background-color: #7F79FE;
        display: flex;
        justify-content: center;
        align-items: center;

        height: unset;
        width: unset;

        /* padding: 100%; */
        border-radius: 6px;

        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
        /* height: 50px; */
        padding: 5px 5px;

        border-radius: 6px;
        /* padding-right: 10px; */
        box-shadow: 0 0 10px 5px rgba(85, 77, 254, 0.5);
        /* cursor: pointer;
        background-color: rgb(85, 77, 254);
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 6px;

        box-shadow: 0 0 10px 5px rgba(85, 77, 254, 0.5); */
    }

    .navbar-inner-item:hover+.navbar-inner {
        margin-left: 25px;
    }


    .navbar-inner-item:hover h3 {
        color: white;
        display: none;
    }

    .navbar-inner-item:hover svg {
        fill: white;

    }

    .navbar-inner-item svg {
        width: 30px;
        height: 30px;
        fill: #AAAAB1;
        /* margin: 10px; */
        padding: 0px;

    }

    .navbar-inner-item h3 {

        display: none;

    }

    .dash-container {
        display: flex;
        justify-content: center;
        /* margin-bottom: 30px; */
    }

    .dash-btn-container {
        background-color: unset;
        border-radius: 0;
        display: unset;
        align-items: unset;
        gap: unset;
        height: unset;
        border-radius: unset;
        padding-right: unset;
        box-shadow: unset;

        margin: unset;
        padding: unset;


    }

    .dash-btn-container h3 {
        color: white;
        font-family: Helvetica, sans-serif;
        font-weight: 400;
        font-size: 16px;
        user-select: none;
        display: none;


    }

    .dash-btn-bg {
        background-color: #7F79FE;
        display: flex;
        justify-content: center;
        align-items: center;

        height: unset;
        width: unset;

        /* padding: 100%; */
        border-radius: 6px;

        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
        /* height: 50px; */
        padding: 5px 5px;

        border-radius: 6px;
        /* padding-right: 10px; */
        box-shadow: 0 0 10px 5px rgba(85, 77, 254, 0.5);
    }

    .dash-btn-bg svg {
        width: 30px;
        height: 30px;
    }


    .hack-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-bottom: 50px;
        margin-top: 50px;
    }

    .hack-logo-img {
        border-radius: 20%;
        width: 50px;
        height: 50px;
    }

    .hack-logo h2 {
        color: white;
        display: none;
    }

    .profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 50px;
        gap: 20px;
        margin-bottom: 10px;
    }


    .profile-img {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        display: none;
    }

    .profile-logout {
        width: 30px;
    }

    .profile-logout:hover {
        cursor: pointer;

    }

    #navbar-container {
        position: fixed;
        /* Fixed position to keep it above everything */
        top: 0;
        left: 0px;
        height: 100%;
        /* width: 12vw; */
        background-color: #39394B;

        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 100000;

    }
}
